# IDE e sistema
.idea/
.gradle/
.DS_Store

# Build e cache
/build/
*/build/

# Arquivos locais
local.properties

# Logs
*.log

# Android Studio
captures/
.externalNativeBuild/
.cxx/

# Configurações temporárias
*.iml

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
