<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissões -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RunupSetup"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Chave da API do Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDhni-9ZSCjmR3rZp0FB5RcSTOKQqqKmso" />

        <activity
            android:name=".ui.activity.LoginPageActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.activity.UserLoginActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Histórico -->
        <activity
            android:name=".ui.activity.HistoryPageActivity"
            android:exported="false"
            android:theme="@style/Theme.RunupSetup" />

        <!-- Detalhe histórico -->
        <activity
            android:name=".ui.activity.HistoryDetailPageActivity"
            android:exported="false"
            android:theme="@style/Theme.RunupSetup" />

        <!-- Tela inicial pós-login -->
        <activity
            android:name=".ui.activity.InitialPageActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Corrida em tempo real -->
        <activity
            android:name=".ui.activity.RunMapActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Perfil -->
        <activity
            android:name=".ui.activity.ProfilePageActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Comunidade -->
        <activity
            android:name=".ui.activity.ComunityPageActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Registro – 3 telas -->
        <activity
            android:name=".ui.activity.RegisterPageActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".ui.activity.QuestionnaireGenderActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".ui.activity.QuestionnairePageActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Sucesso -->
        <activity
            android:name=".ui.activity.RegistrationSuccessActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Privacidade -->
        <activity
            android:name=".ui.activity.PrivacyPageActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Gerar Rotas -->
        <activity
            android:name=".ui.activity.RouteFiltersActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Mudar metas -->
        <activity
            android:name=".ui.activity.TrainingPreferencesActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Tela Rotas Predefinidas -->
        <activity
            android:name=".ui.activity.RoutePageActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Tela configuração conta -->
        <activity
            android:name=".ui.activity.AccountSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

    </application>

</manifest>
