spring:
  datasource:
    url: jdbc:mysql://localhost:8889/RunUp?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update     # usa 'update' se quiser que o Spring crie/atualize tabelas
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.springframework: INFO

google:
  api:
    key: AIzaSyDeaOoEpvULBgkKdg-31OlsJdVUuqld-QY
